/* Contenedor general centrado */
.detalle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  width: 90%;
  height: 80%;
}

/* Card principal */
.detalle-card {
  /* max-width: 900px; */
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
}

/* Sección de imagen */
.detalle-imagen img {
  width: 320px;
  height: 320px;
  object-fit: contain;
  border-radius: 10px;
  background-color: #f4f4f4;
  padding: 1rem;
}

/* Info del producto */
.detalle-info h2 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.detalle-info h3 {
  margin-bottom: 1.5rem;
  color: #666;
  font-size: 1.3rem;
}

.detalle-desc {
  margin-bottom: 1rem;
}

.detalle-info ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.detalle-info ul li {
  margin-bottom: 0.5rem;
}

/* Precio */
.detalle-precio {
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem 0;
  color: rgb(20, 142, 20);
}

/* Acciones */
.detalle-acciones {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.detalle-acciones button {
  padding: 0.8rem 1.5rem;
  border: none;
  background: rgb(20, 142, 20);
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.detalle-acciones button:hover {
  background: rgb(17, 120, 17);
}

/* Botón Volver */
.volver-btn a {
  color: white;
  text-decoration: none;
}

/* Responsive */
@media (max-width: 768px) {
  .detalle-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .detalle-imagen img {
    width: 240px;
    height: 240px;
  }

  .detalle-acciones {
    justify-content: center;
    flex-wrap: wrap;
  }
}