/* elementos del Navbar */
nav {
  background-color: white;
  padding: 0.75rem 1rem;
  box-shadow: 0px 0px 2px 1px black;
  height: 100vh;
}

/* El contenedor principal del menú */
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* permite que se rompa en varias líneas en pantallas pequeñas */
  gap: 1rem;
  margin: 0;
  padding: 0;
  align-items: left;   /* alinea a la izquierda */
}

/* Cada elemento del menú */
nav li {
  display: block;
}

/* Los enlaces dentro del menú */
nav a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.active-link {
  color: #ff4500; /* Color rojo para el enlace activo */
  font-weight: bold;
  border-bottom: 2px solid #ff4500;
}

/* Ajuste responsive para pantallas pequeñas */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column; /* apila los elementos */
    align-items: flex-start;
    gap: 0.5rem;
  }
}

nav div {
  margin-bottom: 1rem;
  text-align: center;
  color: black
}

/* Icono Cerrar */
.close-icon {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  cursor: pointer;
  font-size: 1.0rem;
  color: red;
  size: small;
}