/* contenedor de la página */
.contenedor-opiniones {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    text-align: center;
    font-family: Arial, sans-serif;
}
.contenedor-opiniones h2 {
    font-weight: bolder;
    font-size: clamp(1rem, 3vw, 2rem);
    color: white;
}

/* estilos para opiniones.css */
.grilla-opiniones {
    display: flex;
    flex-wrap: wrap; /* Las cajas bajan de línea si no entran */
    justify-content: center;
    align-items: flex-start;
    gap: 1vw; /* Espacio entre cajas */
    padding: 1vw;
    overflow-y: auto;               /* Scroll vertical */
}

/* caja de cada opinion */
.opinion {
    display:flex;
    flex-direction: column;
    flex: 1 1 20vw; /* Crece, encoge, tamaño mínimo */
    max-width: 30vw;
    background-color: #aae9aa;
    border-radius: 25%;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2vw;
    /* font-size: clamp(0.05rem, 0.05vw, 0.05rem); /* Texto adaptable */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.opinion:hover{
    border: 1px solid orange;
    transform: translateY(-5px);
    background-color: #72e972;
}

.opinion h4 {
    font-weight: bolder;
    color: rgb(117, 66, 4);
    font-size: clamp(1.5rem, 1.5vw, 1.5rem);
}

.opinion p{
    font-size: clamp(1rem, 1vw, 0.5rem);
}

/* puntos de interrupción opiniones */
  @media (max-width: 320px) {
    .opiniones p {
      font-size: clamp(0.5rem,5vw,1rem);
    }
  }

  @media (max-width: 480px) {
    .opiniones {
      font-size: clamp(0.5rem,10vw,1rem);
    }
  }